In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [6]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4039,ham,I'm at home n ready...,NaN,NaN,NaN
3352,ham,I emailed yifeng my part oredi.. Can Ì_ get it...,NaN,NaN,NaN
3712,ham,If i not meeting Ì_ all rite then i'll go home...,NaN,NaN,NaN
615,ham,"\Happy valentines day\"" I know its early but i...",NaN,NaN,NaN
4419,ham,Ok i msg u b4 i leave my house.,NaN,NaN,NaN

In [7]:
df.shape

(5572, 5)